body {
	background-color: #ff6600;
	text-align: center;
	font-family: Ubuntu, OpenSans;
}

h1 {
	font-size: 50px;
}

.button {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
   font-size: 25px;
   font-weight: 100;
   padding: 30px;
   background-color: #FF42CD;
   box-shadow: 1px 1px 10px 8px #8F2574;
   -webkit-box-shadow: 1px 1px 10px 8px #8F2574;
   -moz-box-shadow: 1px 1px 10px 8px #8F2574;
   border: solid #AB2C89 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.button:hover {
   background: #C934A2;
   border: solid #A32A83 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

#cluster {
	font-size: 30px;
}
