<!DOCTYPE html>
<html>
	<head>
		<title>Cluster Christener</title>
	</head>
	<body>
		<h1>Hello, world!</h1>
		Take note of the following: <br><br>
		<div id="cluster"><p><b><%= journalName %></b></p></div>
	</body>
</html>
