<!DOCTYPE html>
<html>
	<head>
		<title>Cluster Christener</title>
		<link rel="stylesheet" type="text/css" href="styles.css" />
	</head>
	<body>
		<h1>c l u s t e r</h1>
		<h1>c h r i s t e n e r</h1>
		<br><br>
		<a href="./" class="button">Generate Button Name</a>
		<br><br><br>
		<div id="cluster"><p><b><%= journalName %></b></p></div>
		
	</body>
</html>
